<h4 class="none">Posts</h4>
{% if u.is_authenticated %}
<div class="post-add">
	<form method="post" action="/blog/add" id="post-form" class="dropzone" enctype="multipart/form-data">
		<textarea id="post-new" class=""></textarea>
		<input id="submitPost" class="button button-primary col-2" type="submit" value="Post" />
		<button id="submitPostResponsive" class="button button-primary col-2 none" type="submit"><span class="icon-CreateNew"></span></button>
		<div class="dropzone-previews"></div>
		<div class="dz-message" data-dz-message><span>Drop image here to upload </span></div>
	</form>
</div>
{% endif %}