{% load staticfiles %}

{{ STATIC_URL }}
{% for post in posts %}
<article class="blog-post">
	<header>
		<img class="profile-img" alt="{{ post.author.displayName }}" src="{% static post.author.profileImage %}">
		<a href="/profile/{{ post.author.username }}" class="post-author" rel="author"><h5><b>{{ post.author.displayName }}</b> @{{ post.author.username }}</h5></a>
		<div class="post-date" data-post-date="{{ post.postTime|date:"Y-m-d H:i" }}"></div>
		<div class="post-location"><span class="location-icon icon-LocationMarker"></span>{{ post.locationTown }}, {{ post.locationCountry }}</div>
	</header>
	<p class="post-content">{{ post.content }}</p>
	<a class="infinity-next" href="/view/post.html">next page</a>
</article>
{% empty %}
	<article class="blog-post">No posts available.</article>
{% endfor %}