{% load staticfiles %}

{{ STATIC_URL }}

<article class="blog-post">
	<header>
		<img class="profile-img" alt="Today I Learned" src="{% static 'media/profile/til_50x50.jpg' %}">
		<a href="/profile/til" class="post-author" rel="author"><h5><b>Today I Learned</b> @til</h5></a>
		<div class="post-date" data-post-date="2015-11-21 22:50:44"></div>
		<div class="post-location"><span class="location-icon icon-LocationMarker"></span>Los Angeles, USA</div>
	</header>
	<p class="post-content">@TIL Thomas Baker was wounded and didn't want to get help. Instead, he was given a pistol with 8 bullets. Later, around his dead body were 8 dead enemies and an empty pistol. He received a Medal of Honor posthumously.</p>
	<a class="infinity-next" href="/view/post.html">next page</a>
</article>