{% load staticfiles %}
{% load humanize %}

{% if u != None %}
<form id="profile-edit" action="/profile/{{ u.username }}/edit/" method="POST">
	{% csrf_token %}

	<div class="user-info">
		<div class="user-img">
			<img alt="user profile picture" src="{{ MEDIA_URL }}{{ u.profile.profileImage }}">
		</div>

		<div class="link-holder">
			{{ form.displayName }}
			{% if form.displayName.errors %}{{ form.displayName.errors }}{% endif %}
			<p class="username">@{{ u.username }}</p>
		</div>
	</div>

	<div class="user-stats">
		<div class="post-count stat-box">
			<p class="stat-value">{{ u.profile.posts.count | intword }}</p>
			<p class="stat-description">posts</p>
		</div>
		<div class="followers-count stat-box">
			<p class="stat-value">{{ u.profile.following.count | intword }}</p>
			<p class="stat-description">following</p>
		</div>
		<div class="subscribers-count stat-box">
			<p class="stat-value">{{ u.profile.followers.count | intword }}</p>
			<p class="stat-description">followers</p>
		</div>
	</div>

	<div class="user-location">
		<span class="location-icon icon-LocationMarker"></span>
		{{ form.location }}
		{% if form.location.errors %}{{ form.location.errors }}{% endif %}
	</div>

	<div class="user-description">
	<span class="location-icon icon-CommentwithLines"></span>
		{{ form.description }}
		{% if form.description.errors %}{{ form.description.errors }}{% endif %}
	</div>

	<div class="user-webpage">
		<span class="link-icon icon-Link"></span>
		{{ form.webpage }}
		{% if form.webpage.errors %}{{ form.webpage.errors }}{% endif %}
	</div>

	<div class="user-edit">
		<input type="submit" id="save-profile" class="button button-primary" onclick="editProfile(true, '{{ u.username }}'); return false;" value="Save" />
	</div>
{% endif %}
</form>