{% extends "mblogApp/base.html" %}
{% load staticfiles %}

{% block title %}{{ tag }}{% endblock %}

{% block css %}
		<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/dropzone.css' %}">

		<noscript><meta http-equiv="refresh" content="0; url=/nojavascript" /></noscript>
{% endblock %}

{% block body %}
		{% include "mblogApp/navigation.html" with u=u %}

		<main class="row container clear">
			<aside class="left-content sidebar">
				<section class="profile-summery">
					{% include "mblogApp/profile/info.html" with u=u %}
				</section>
				<section class="subscriptions">
					{% include "mblogApp/subscriptions.html" with subscriptions=u.profile.following.all %}
				</section>
			</aside>

			<section class="main-content">
				<h4 class="none">Posts</h4>
				{% include "mblogApp/post/addNew.html" with u=u form=form %}

				<div class="tag">
					<h1>#{{ tag }}</h1>
				</div>

				<div class="articles">
					{% include "mblogApp/post/post.html" with posts=posts %}

					<div class="infinity-scroll none">
						<div class="loader1">
							<i></i><i></i>
						</div>
						Loading more...
					</div>
				</div>
			</section>

			<aside class="right-content sidebar">
				<section class="subscribers">
					{% include "mblogApp/subscribers.html" with subscribers=u.profile.followers.all %}
				</section>
			</aside>
		</main>
{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/vendor/moment.min.js' %}"></script>
	<script src="{% static 'javascripts/vendor/autolinker.min.js' %}"></script>
	<script src="{% static 'javascripts/vendor/dropzone.min.js' %}"></script>
	<script src="{% static 'javascripts/main.js' %}"></script>
{% endblock %}