<article class="blog-post">
	<header>
		<img alt="NBA Slovenija" class="profile-img" src="/assets/images/sample/nba_50x50.jpg">
		<a href="/profile/nbaslo" class="post-author" rel="author"><h5><b>NBA Slovenija</b> @nbaslo</h5></a>
		<div class="post-date" data-post-date="2015-11-21 22:57:58"></div>
		<div class="post-location"><span class="location-icon icon-LocationMarker"></span>Ljubljana, Slovenia</div>
	</header>
	<p class="post-content">Golden State Warriorsi (@warriors) so po fantastičnem preobratu nadoknadili kar 23 točk zaostanka, na gostovanju premagali LA Clipperse (@LAClippers) (124:117), dosegli že svojo 13. zaporedno zmago v sezoni in ostajajo še naprej neporaženi. Stephen Curry (@StephenCurry30) (40 točk, trojke 6/14, 11 skokov in 4 podaje) in Chris Paul (@CP3) (35 točk, trojke 5/9, 8 podaj in 4 skoki) pa sta uprizorila pravi epski dvoboj, ki ga je na koncu ponovno dobil aktualni #MVP #nba #warriorsvslaclippers.</p>
	<div class="post-image">
		<img src="/assets/images/sample/warriors.jpg" alt="Golden State Warriors win" />
	</div>
</article>
<div class="infinity-scroll none">
	<div class="loader1">
		<i></i><i></i>
	</div>
	Loading more...
</div>